<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edwardharker.aircraftrecognition.aircraftdetail">

    <application>

        <activity
            android:name="com.edwardharker.aircraftrecognition.ui.aircraftdetail.AircraftDetailActivity"
            android:label="@string/title_activity_aircraft_detail"
            android:theme="@style/AppTheme.NoActionBar.AircraftDetail" />

        <activity
            android:name="com.edwardharker.aircraftrecognition.ui.aircraftdetail.PhotoCarouselActivity"
            android:label="@string/title_activity_photo_carousel"
            android:theme="@style/AppTheme.NoActionBar.PhotoCarousel" />
    </application>
</manifest>
